
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}

body{
    
    background-color: var(--background-color);
    height: 1000vh;

}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
    
    width: auto;
    min-height: 10vh;
   
   
    margin: 4vh 4vh 4vh 4vh;
    padding: 10px 20px;
    
    border-radius: 2.9vh;
    box-shadow: 
    -3px 11px 10px 2px rgba(191, 191, 191, 0.13), 
    -3px 7px 13px 0px rgba(191, 191, 191, 0.24), 
    -3px 5px 6px 0px rgba(102, 88, 160, 0.14);
    background-color: #ffffff;
    
    gap: 20px;

    

    
}


.botaoLogin{
    background-color: #0C326C;
   
    width: auto;
    min-width: 80px;
    height: 50px; 
    padding: 0 20px;
   
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 800;
    cursor: pointer;

    border-radius: 1vh;
    font-size: 0.44rem;
    font-family: var(--font-primary);
    transition: 0.3s;
    gap: 6px;
}




.botaoLogin:hover{
    background-color: var(--azul03);
    transition: 1s;
    box-shadow: 
    -3px 11px 10px 2px rgba(191, 191, 191, 0.13), 
    -3px 7px 13px 0px rgba(191, 191, 191, 0.24), 
    -3px 5px 6px 0px rgba(102, 88, 160, 0.14);
}

#imglogo{
    width: auto;
    height: 7vh;
    max-height: 60px;
    display: block;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    

    gap: 20px;

    text-align: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-size: 0.9rem;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}


.pesquisa{
    cursor: pointer;
}
