.search-fixed-bottom {
    position: relative;
    width: fit-content;
    max-width: 100%;
    margin: 0 auto;
   
    padding-top: -6px;      
    padding-left: 4px;    
    padding-right: 0px;  
    padding-bottom: 5px;
    
    background-image: linear-gradient(to bottom left, rgba(7, 49, 173, 0), rgba(7, 49, 173, 1));

    border-radius: 30px; 
    
    display: flex; 
    align-items: center;
    justify-content: center;

    margin-bottom: 30px;
}

.input-group {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    
   
    width: 400px; 
    padding: 8px 20px;
    border-radius: 24px;
    gap: 8px;
    
    box-shadow: none; 
}


.input-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    

    min-height: 32px;
    min-width: 32px;
    background-color: var(--azul03);
    color: #FFFFFF;

    cursor: pointer;
}

.input-field{
    width: 100%;
    border: none;
    background-color: transparent;
    font-family: var(--font-primary);
    font-size: 1.2rem;
}

.input-field:focus{
    outline: none;
    font-family: var(--font-primary);
    font-size: 1rem;
}