:root {
    --background-color: #F6F6F6;
    --background2-color: #FFFFFF;
    --azul01: #001D3F;
    --azul02: #0C326C;
    --azul03: #0052B5;
    --azul04: #0481BE;
    --preto: #0B0B0B;
    --font-primary: 'Montserrat', sans-serif;
    --font-secondary: 'Open Sans', sans-serif;

    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;


}   

